/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/styles/Main.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Main_loadingContainer__FjKee {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #f17800;
}
.Main_loadingBar__4mn37 {
  height: 100%;
  background-color: rgb(255, 98, 0);
  transition: width 0.5s ease-in-out;
}

